<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522793099309-u2436ii49rv69iri62vgi7cv644q93g4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522793099309-u2436ii49rv69iri62vgi7cv644q93g4</string>
	<key>API_KEY</key>
	<string>AIzaSyDRrueTVrS42Gvp9J5rAfLX8T-X_BgbRPY</string>
	<key>GCM_SENDER_ID</key>
	<string>522793099309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.application</string>
	<key>PROJECT_ID</key>
	<string>applicationtripsflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>applicationtripsflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522793099309:ios:431b162d5631225a0498a4</string>
</dict>
</plist>